# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
.env
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Pyright / mypy
.mypy_cache/
.pytest_cache/

# Editor directories
.vscode/
.idea/
